body {
    
    background-image: url(img/blueswoops.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
}



